In [1]:
import pandas as pd
import requests

In [30]:
from io import StringIO

## Fetching Data using Rapid API site which provides several APIs

 I fetch this data from Visual Crossing Weather's API with the help of Rapid API and then I processed it according to my requirement and automate the task of fetching the data between two certain dates using python and then I export that into a CSV.

In [102]:
import datetime
start = datetime.date(2017,1,1)
end = datetime.date(2018,12,31)
df = pd.DataFrame()
while start < end:
    url = "https://visual-crossing-weather.p.rapidapi.com/history"
    headers = {
            "X-RapidAPI-Key": "e0089e0c2emsh0bebbd1bc5341b2p1042d6jsn3e48e26fe9c4",
            "X-RapidAPI-Host": "visual-crossing-weather.p.rapidapi.com"
        } # provide your own X-RapidAPI-Key and X-RapidAPI-Host from rapid api site - Visual Crossing Weather
    if end > start + datetime.timedelta(29):
        
        start_date = start
        start_str = str(start_date) + 'T00:00:00'
        End_date = start_date + datetime.timedelta(29) # as this api gives only 30 days' data in a single request, so I made the end date according to that rule.
        End_str =  str(End_date) + 'T00:00:00'
        querystring = {f"startDateTime":{start_str},"aggregateHours":"24","location":"Kolkata,West Bengal,India","endDateTime":{End_str},"unitGroup":"uk","contentType":"csv","shortColumnNames":"0"}
    else:
        start_date = start
        start_str = str(start_date) + 'T00:00:00'
        End_date = end
        End_str =  str(End_date) + 'T00:00:00'
        querystring = {f"startDateTime":{start_str},"aggregateHours":"24","location":"Kolkata,West Bengal,India","endDateTime":{End_str},"unitGroup":"uk","contentType":"csv","shortColumnNames":"0"}
    response = requests.request("GET", url, headers=headers, params=querystring)
    temp_df = pd.read_csv(StringIO(response.text)) # made that reponse text into a comma separated value and then it was turned into a data frame.
    df = df.append(temp_df, ignore_index= True) # merge those every response's data to make a single data frame.
    start = End_date + datetime.timedelta(1)

In [90]:
df_2021 = df

In [91]:
df_2021.sample(10)

,Address,Date time,Minimum Temperature,Maximum Temperature,Temperature,Dew Point,Relative Humidity,Heat Index,Wind Speed,Wind Gust,...,Visibility,Cloud Cover,Sea Level Pressure,Weather Type,Latitude,Longitude,Resolved Address,Name,Info,Conditions
66,"Kolkata,West Bengal,India",03/08/2021,25.0,33.2,27.8,21.8,72.53,35.7,10.3,NaN,...,1.8,26.8,1011.7,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Partially cloudy
33,"Kolkata,West Bengal,India",02/03/2021,13.1,25.0,18.2,10.3,61.91,NaN,8.1,NaN,...,1.4,0.0,1016.5,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
148,"Kolkata,West Bengal,India",05/29/2021,28.0,34.0,30.7,27.0,81.51,45.3,12.8,NaN,...,2.3,45.2,1004.9,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Partially cloudy
157,"Kolkata,West Bengal,India",06/07/2021,25.0,37.0,30.3,25.6,77.53,52.5,17.2,28.9,...,2.2,74.0,1002.0,"Thunderstorm, Thunderstorm Without Precipitati...",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,"Rain, Partially cloudy"
220,"Kolkata,West Bengal,India",08/09/2021,28.2,34.0,30.8,27.8,84.52,47.3,11.4,NaN,...,2.3,67.4,1004.2,"Light Drizzle, Thunderstorm, Thunderstorm With...",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Partially cloudy
36,"Kolkata,West Bengal,India",02/06/2021,16.1,27.1,21.4,13.0,60.86,27.0,8.1,NaN,...,1.8,4.5,1014.2,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
319,"Kolkata,West Bengal,India",11/16/2021,21.7,29.0,24.9,20.5,77.54,30.8,9.2,NaN,...,1.6,34.6,1010.9,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Partially cloudy
364,"Kolkata,West Bengal,India",12/31/2021,15.0,24.0,19.7,16.4,82.20,NaN,13.9,NaN,...,1.8,13.6,1019.4,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
282,"Kolkata,West Bengal,India",10/10/2021,27.0,34.0,30.3,27.1,83.88,47.3,10.3,NaN,...,1.8,69.8,1004.9,"Mist, Thunderstorm, Thunderstorm Without Preci...",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,"Rain, Partially cloudy"
223,"Kolkata,West Bengal,India",08/12/2021,28.0,33.0,30.1,28.3,90.32,50.4,11.4,NaN,...,1.9,85.3,1003.0,"Light Drizzle, Thunderstorm, Rain, Light Rain,...",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,"Rain, Overcast"

In [93]:
df_2019 = df

In [94]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              365 non-null    object
 1   Date time            365 non-null    object
 2   Minimum Temperature  365 non-null    float64
 3   Maximum Temperature  365 non-null    float64
 4   Temperature          365 non-null    float64
 5   Dew Point            365 non-null    float64
 6   Relative Humidity    365 non-null    float64
 7   Heat Index           305 non-null    float64
 8   Wind Speed           365 non-null    float64
 9   Wind Gust            7 non-null      float64
 10  Wind Direction       365 non-null    float64
 11  Wind Chill           8 non-null      float64
 12  Precipitation        365 non-null    float64
 13  Precipitation Cover  365 non-null    float64
 14  Snow Depth           365 non-null    float64
 15  Visibility           365 non-null    float64
 16  Cloud Cover          365 non-null    float64
 17  Sea Level Pressure   365 non-null    float64
 18  Weather Type         365 non-null    object
 19  Latitude             365 non-null    float64
 20  Longitude            365 non-null    float64
 21  Resolved Address     365 non-null    object
 22  Name                 365 non-null    object
 23  Info                 0 non-null      float64
 24  Conditions           365 non-null    object
dtypes: float64(19), object(6)
memory usage: 71.4+ KB

In [95]:
df_2019.sample(10)

,Address,Date time,Minimum Temperature,Maximum Temperature,Temperature,Dew Point,Relative Humidity,Heat Index,Wind Speed,Wind Gust,...,Visibility,Cloud Cover,Sea Level Pressure,Weather Type,Latitude,Longitude,Resolved Address,Name,Info,Conditions
30,"Kolkata,West Bengal,India",01/31/2019,11.0,25.2,18.2,10.6,63.03,NaN,10.3,NaN,...,2.1,0.0,1017.6,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
243,"Kolkata,West Bengal,India",09/01/2019,26.0,34.0,29.6,26.8,85.76,47.3,9.2,NaN,...,2.2,72.3,1001.1,"Drizzle, Rain, Thunderstorm, Thunderstorm With...",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,"Rain, Partially cloudy"
1,"Kolkata,West Bengal,India",01/02/2019,12.0,26.0,18.4,10.9,64.31,NaN,9.2,NaN,...,1.9,1.1,1018.6,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
326,"Kolkata,West Bengal,India",11/23/2019,18.0,27.6,22.7,18.5,78.62,28.7,4.7,NaN,...,1.6,0.1,1014.6,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
360,"Kolkata,West Bengal,India",12/27/2019,12.0,19.1,14.6,12.4,87.05,NaN,6.9,NaN,...,1.3,57.8,1015.5,"Drizzle, Mist, Light Drizzle, Light Rain, Smok...",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,"Rain, Partially cloudy"
45,"Kolkata,West Bengal,India",02/15/2019,16.0,31.0,23.3,15.0,62.00,31.0,10.3,NaN,...,1.8,1.7,1014.9,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
230,"Kolkata,West Bengal,India",08/19/2019,26.0,33.3,29.4,26.1,83.24,44.3,16.1,NaN,...,2.4,47.9,1004.8,"Drizzle, Mist, Light Rain, Sky Coverage Increa...",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,"Rain, Partially cloudy"
201,"Kolkata,West Bengal,India",07/21/2019,28.0,36.0,31.6,26.5,75.91,48.1,15.0,NaN,...,2.5,46.8,1003.6,"Rain, Sky Coverage Increasing, Sky Unchanged, ...",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,"Rain, Partially cloudy"
67,"Kolkata,West Bengal,India",03/09/2019,19.0,31.5,25.2,14.0,53.92,29.9,8.1,NaN,...,2.4,0.0,1012.4,Smoke Or Haze,22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
191,"Kolkata,West Bengal,India",07/11/2019,28.0,32.0,29.9,27.1,84.86,42.4,17.2,NaN,...,2.3,74.8,1001.5,"Thunderstorm Without Precipitation, Light Rain...",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Partially cloudy

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              366 non-null    object
 1   Date time            366 non-null    object
 2   Minimum Temperature  366 non-null    float64
 3   Maximum Temperature  366 non-null    float64
 4   Temperature          366 non-null    float64
 5   Dew Point            366 non-null    float64
 6   Relative Humidity    366 non-null    float64
 7   Heat Index           290 non-null    float64
 8   Wind Speed           366 non-null    float64
 9   Wind Gust            13 non-null     float64
 10  Wind Direction       366 non-null    float64
 11  Wind Chill           0 non-null      float64
 12  Precipitation        366 non-null    float64
 13  Precipitation Cover  366 non-null    float64
 14  Snow Depth           366 non-null    float64
 15  Visibility           366 non-null    float64
 16  Cloud Cover          366 non-null    float64
 17  Sea Level Pressure   366 non-null    float64
 18  Weather Type         366 non-null    object
 19  Latitude             366 non-null    float64
 20  Longitude            366 non-null    float64
 21  Resolved Address     366 non-null    object
 22  Name                 366 non-null    object
 23  Info                 0 non-null      float64
 24  Conditions           366 non-null    object
dtypes: float64(19), object(6)
memory usage: 71.6+ KB

In [98]:
df.sample(10)

,Address,Date time,Minimum Temperature,Maximum Temperature,Temperature,Dew Point,Relative Humidity,Heat Index,Wind Speed,Wind Gust,...,Visibility,Cloud Cover,Sea Level Pressure,Weather Type,Latitude,Longitude,Resolved Address,Name,Info,Conditions
138,"Kolkata,West Bengal,India",05/18/2020,27.8,37.0,32.0,25.9,72.48,48.1,12.8,NaN,...,2.5,47.7,1001.7,"Rain, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Partially cloudy
220,"Kolkata,West Bengal,India",08/08/2020,28.3,35.0,30.5,28.9,91.31,56.5,8.1,NaN,...,2.2,58.3,999.6,"Rain, Sky Coverage Decreasing, Sky Coverage In...",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,"Rain, Partially cloudy"
88,"Kolkata,West Bengal,India",03/29/2020,26.0,35.0,30.4,19.3,53.19,36.3,10.3,NaN,...,2.5,6.4,1008.7,Smoke Or Haze,22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
254,"Kolkata,West Bengal,India",09/11/2020,27.9,35.0,30.8,28.4,87.28,53.6,10.3,NaN,...,2.4,41.0,1003.8,"Rain, Sky Coverage Increasing, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,"Rain, Partially cloudy"
270,"Kolkata,West Bengal,India",09/27/2020,25.4,35.0,30.2,27.0,83.87,51.0,6.9,NaN,...,2.5,42.7,1003.8,"Sky Coverage Increasing, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,"Rain, Partially cloudy"
15,"Kolkata,West Bengal,India",01/16/2020,12.0,27.1,19.7,15.2,77.16,27.7,5.8,NaN,...,1.4,1.3,1015.0,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
44,"Kolkata,West Bengal,India",02/14/2020,14.0,28.1,21.7,14.2,64.85,28.0,8.1,NaN,...,1.8,0.0,1010.5,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
275,"Kolkata,West Bengal,India",10/02/2020,27.0,33.0,29.6,27.5,88.89,47.9,9.2,NaN,...,2.4,54.9,1003.9,"Mist, Thunderstorm, Rain, Light Rain, Sky Cove...",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,"Rain, Partially cloudy"
318,"Kolkata,West Bengal,India",11/14/2020,20.0,31.1,25.4,16.7,60.14,31.4,10.3,NaN,...,2.1,0.1,1013.4,Smoke Or Haze,22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
241,"Kolkata,West Bengal,India",08/29/2020,27.8,35.0,31.1,28.5,86.39,56.5,11.4,NaN,...,2.4,48.1,1003.9,"Rain, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Partially cloudy

In [99]:
df_2019_2020_2021 = df_2019.append(df, ignore_index=True)

In [100]:
df_2019_2020_2021 = df_2019_2020_2021.append(df_2021, ignore_index=True)

In [101]:
df_2019_2020_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1096 entries, 0 to 1095
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              1096 non-null   object
 1   Date time            1096 non-null   object
 2   Minimum Temperature  1096 non-null   float64
 3   Maximum Temperature  1096 non-null   float64
 4   Temperature          1096 non-null   float64
 5   Dew Point            1096 non-null   float64
 6   Relative Humidity    1096 non-null   float64
 7   Heat Index           908 non-null    float64
 8   Wind Speed           1096 non-null   float64
 9   Wind Gust            43 non-null     float64
 10  Wind Direction       1096 non-null   float64
 11  Wind Chill           8 non-null      float64
 12  Precipitation        1096 non-null   float64
 13  Precipitation Cover  1096 non-null   float64
 14  Snow Depth           1096 non-null   float64
 15  Visibility           1096 non-null   float64
 16  Cloud Cover          1096 non-null   float64
 17  Sea Level Pressure   1095 non-null   float64
 18  Weather Type         1095 non-null   object
 19  Latitude             1096 non-null   float64
 20  Longitude            1096 non-null   float64
 21  Resolved Address     1096 non-null   object
 22  Name                 1096 non-null   object
 23  Info                 0 non-null      float64
 24  Conditions           1096 non-null   object
dtypes: float64(19), object(6)
memory usage: 214.2+ KB

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              730 non-null    object
 1   Date time            730 non-null    object
 2   Minimum Temperature  730 non-null    float64
 3   Maximum Temperature  730 non-null    float64
 4   Temperature          730 non-null    float64
 5   Dew Point            730 non-null    float64
 6   Relative Humidity    730 non-null    float64
 7   Heat Index           630 non-null    float64
 8   Wind Speed           730 non-null    float64
 9   Wind Gust            11 non-null     float64
 10  Wind Direction       730 non-null    float64
 11  Wind Chill           5 non-null      float64
 12  Precipitation        730 non-null    float64
 13  Precipitation Cover  730 non-null    float64
 14  Snow Depth           730 non-null    float64
 15  Visibility           730 non-null    float64
 16  Cloud Cover          730 non-null    float64
 17  Sea Level Pressure   730 non-null    float64
 18  Weather Type         730 non-null    object
 19  Latitude             730 non-null    float64
 20  Longitude            730 non-null    float64
 21  Resolved Address     730 non-null    object
 22  Name                 730 non-null    object
 23  Info                 0 non-null      float64
 24  Conditions           730 non-null    object
dtypes: float64(19), object(6)
memory usage: 142.7+ KB

In [104]:
df.sample(10)

,Address,Date time,Minimum Temperature,Maximum Temperature,Temperature,Dew Point,Relative Humidity,Heat Index,Wind Speed,Wind Gust,...,Visibility,Cloud Cover,Sea Level Pressure,Weather Type,Latitude,Longitude,Resolved Address,Name,Info,Conditions
30,"Kolkata,West Bengal,India",01/31/2017,15.0,28.0,21.3,15.3,71.28,28.3,6.9,NaN,...,1.6,10.4,1014.0,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
448,"Kolkata,West Bengal,India",03/25/2018,24.8,35.0,29.5,23.8,73.07,40.6,11.4,NaN,...,1.9,55.4,1012.4,"Lightning Without Thunder, Mist, Thunderstorm,...",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Partially cloudy
66,"Kolkata,West Bengal,India",03/08/2017,20.0,27.0,23.3,20.3,83.72,29.2,15.0,NaN,...,2.0,55.9,1009.1,"Mist, Light Drizzle, Thunderstorm, Rain, Light...",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,"Rain, Partially cloudy"
211,"Kolkata,West Bengal,India",07/31/2017,27.0,34.0,29.9,26.7,83.38,47.3,8.1,NaN,...,2.0,51.9,1002.5,"Thunderstorm, Light Rain, Sky Coverage Decreas...",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,"Rain, Partially cloudy"
656,"Kolkata,West Bengal,India",10/19/2018,24.0,35.0,29.0,23.7,75.42,44.9,6.9,NaN,...,1.9,15.2,1011.2,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
329,"Kolkata,West Bengal,India",11/26/2017,14.0,27.5,20.2,13.1,67.16,27.0,6.9,NaN,...,1.7,6.4,1015.0,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
95,"Kolkata,West Bengal,India",04/06/2017,27.0,31.1,29.0,25.5,81.54,39.1,10.3,NaN,...,2.2,59.3,1007.4,"Sky Coverage Increasing, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Partially cloudy
18,"Kolkata,West Bengal,India",01/19/2017,14.0,27.0,19.5,12.1,64.69,26.7,11.4,NaN,...,1.8,0.0,1018.1,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
405,"Kolkata,West Bengal,India",02/10/2018,21.0,29.0,24.1,14.0,57.37,27.8,11.4,NaN,...,1.9,33.2,1014.8,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Partially cloudy
624,"Kolkata,West Bengal,India",09/17/2018,27.9,36.0,31.4,26.8,78.07,47.9,9.2,NaN,...,2.0,47.1,1002.9,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Partially cloudy

In [105]:
five_years_weather_data = df.append(df_2019_2020_2021, ignore_index= True)

In [106]:
five_years_weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              1826 non-null   object
 1   Date time            1826 non-null   object
 2   Minimum Temperature  1826 non-null   float64
 3   Maximum Temperature  1826 non-null   float64
 4   Temperature          1826 non-null   float64
 5   Dew Point            1826 non-null   float64
 6   Relative Humidity    1826 non-null   float64
 7   Heat Index           1538 non-null   float64
 8   Wind Speed           1826 non-null   float64
 9   Wind Gust            54 non-null     float64
 10  Wind Direction       1826 non-null   float64
 11  Wind Chill           13 non-null     float64
 12  Precipitation        1826 non-null   float64
 13  Precipitation Cover  1826 non-null   float64
 14  Snow Depth           1826 non-null   float64
 15  Visibility           1826 non-null   float64
 16  Cloud Cover          1826 non-null   float64
 17  Sea Level Pressure   1825 non-null   float64
 18  Weather Type         1825 non-null   object
 19  Latitude             1826 non-null   float64
 20  Longitude            1826 non-null   float64
 21  Resolved Address     1826 non-null   object
 22  Name                 1826 non-null   object
 23  Info                 0 non-null      float64
 24  Conditions           1826 non-null   object
dtypes: float64(19), object(6)
memory usage: 356.8+ KB

In [107]:
five_years_weather_data.sample(10)

,Address,Date time,Minimum Temperature,Maximum Temperature,Temperature,Dew Point,Relative Humidity,Heat Index,Wind Speed,Wind Gust,...,Visibility,Cloud Cover,Sea Level Pressure,Weather Type,Latitude,Longitude,Resolved Address,Name,Info,Conditions
1466,"Kolkata,West Bengal,India",01/06/2021,16.8,29.2,22.7,16.2,69.08,29.6,5.8,NaN,...,1.7,0.0,1012.4,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
165,"Kolkata,West Bengal,India",06/15/2017,28.0,34.5,30.7,25.9,76.39,45.3,11.4,NaN,...,2.5,50.0,1001.4,"Thunderstorm Without Precipitation, Sky Unchan...",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,"Rain, Partially cloudy"
776,"Kolkata,West Bengal,India",02/16/2019,19.0,28.0,22.3,15.9,68.25,28.3,11.4,NaN,...,2.1,36.3,1014.3,"Mist, Light Rain, Sky Coverage Increasing, Smo...",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Partially cloudy
696,"Kolkata,West Bengal,India",11/28/2018,19.0,29.4,23.2,16.4,68.38,29.1,4.7,NaN,...,2.0,45.7,1016.2,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Partially cloudy
570,"Kolkata,West Bengal,India",07/25/2018,27.0,32.0,28.4,26.6,89.87,42.4,10.3,NaN,...,1.9,87.4,1000.6,"Light Drizzle, Thunderstorm, Light Rain, Sky C...",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,"Rain, Overcast"
354,"Kolkata,West Bengal,India",12/21/2017,14.0,23.0,17.9,14.6,81.50,NaN,5.8,NaN,...,1.3,16.0,1018.0,"Mist, Sky Coverage Increasing, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
992,"Kolkata,West Bengal,India",09/20/2019,27.6,35.0,30.1,27.0,83.94,47.3,13.9,NaN,...,2.3,54.0,1008.3,"Thunderstorm, Thunderstorm Without Precipitati...",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,"Rain, Partially cloudy"
1213,"Kolkata,West Bengal,India",04/28/2020,23.0,26.7,24.9,23.5,92.12,NaN,10.3,NaN,...,1.9,68.6,1010.5,"Mist, Light Drizzle, Thunderstorm, Rain, Thund...",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,"Rain, Partially cloudy"
1476,"Kolkata,West Bengal,India",01/16/2021,14.0,23.1,17.6,13.6,78.18,NaN,6.9,NaN,...,1.2,0.0,1012.0,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
49,"Kolkata,West Bengal,India",02/19/2017,20.0,30.0,25.0,20.1,75.61,31.9,6.9,NaN,...,1.7,35.2,1012.4,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Partially cloudy

In [109]:
five_years_weather_data.to_csv('fiveyearsweatherdata.csv', index= False)